.flights-wrapper {
  margin: 20px;
}

.flights-table {
  display: flex;
  border-bottom: 1px solid black;
}

.table-flight {
  width: 70%;
}
.table-sum {
  width: 30%;
  background-color: #f2f2f2;
}
table {
  margin: 20px;
}

th {
  text-align: left;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
 td {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
}
.time-to-go {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff6600;
}
.delete-button {
  width: 80px;
  height: 40px;
  background-color: #f73838;
}
.empty-td {
  width: 40%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .flights-table {
        display: flex;
        flex-direction: column;
    }

    .table-flight {
      width: 96%;
    }
    .table-sum {
      width: 90%;
    }

    .flights-wrapper {
      margin: 0;
    }
}
